* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}

#score {
  position: relative;
  left: 20px;
}

.time {
  position: relative;
  right: 25px;
}

/*Body*/

body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
  position: relative;
  top: 50px;
}

.wrapper {
  position: relative;
  text-align: center;
  top: 150px;
}

.wrapper p {
  font-size: 17px;
  margin: 10px;
}

/*questions*/

#questions {
  display: none;
  position: flex;
  text-align: center;
  font-size: 15px;
}

#questions ul li {
  padding: 15px;
  list-style: none;
}

#correctOrNot {
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 50px;
  display: none;
}

/*buttons*/

button {
  background: #fff;
  border: 1px solid #59656f;
  border-radius: 5px;
  position: relative;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

button:hover {
  background: #9bbdf9;
  font-weight: bold;
}

/*leaderboard and Endgame*/

#highscores {
  display: none;
  text-align: center;
  font-size: 30px;
  background: #fff;
}

#leaderboard {
  background: #fff;
  font-size: 15px;
  border: 1px solid #59656f;
  margin-left: 20px;
  margin-bottom: 20px;
}

#leaderboard:hover {
  background: #fff;
}

#submit-score {
  font-size: 20px;
}

#final {
  display: none;
  text-align: center;
}

#initials {
  margin-top: 25px;
  font-size: 20px;
}

#initials p {
  font-size: 20px;
}

#score-list {
  background: #fff;
}

#back {
  font-size: 20px;
}
